body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f7fb;
    color: #222;
}

.top-header {
    text-align: center;
    background-color: rgb(4, 131, 4);
    padding: 40px;
    color: rgb(255, 255, 255);
}

header {
    background: #008000;
    color: #fff;
    text-align: center;
    padding: 45px 20px;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p{
    margin-top: 15px;
}

.image {
    width: 100%;
    border-radius: 10px;
}

nav {
    background: rgb(201,198,198);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
}

nav a:hover {
    color: green;
}

.card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

label {
    font-weight: bold;
}

.form-group {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
}

input, select {
    width: 100%;
    border: 1px solid #bdbdbd;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container {
    width: 90%;
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.container section {
    flex: 3;
    max-width: 0;
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 8px;
}

.map-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.success {
    color: green;
    font-weight: bold;
}

.sidebar {
    flex: 1;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.1);
    position: sticky;
    top: 20px;
}

.footer-bar {
    background: green;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        position: static;
    }
}
