body{
    background:#f1f1f1;
    font-family:Arial,Helvetica,sans-serif;
}

.w3-card{
    margin-bottom:20px;
}

nav {
    text-align: center;
}

pre{
    overflow:auto;
}

iframe{
    border:0;
}

table{
    width:100%;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid #ddd;
}

th{
    background:#0b9d3f;
    color:white;
}

th,td{
    padding:10px;
}

#faqContent{
    display:none;
}

@media (max-width:768px){

.w3-twothird,
.w3-third{

width:100%!important;

}

.w3-bar .w3-button{

display:block;
width:100%;

}

img{

width:100%;
height:auto;

}

iframe{

width:100%;

}

}

pre{

background:#1d4f3a;
color:white;
padding:15px;
border-radius:5px;
overflow:auto;

}

kbd{

background:#333;
color:white;
padding:3px 6px;
border-radius:4px;

}

samp{

color:#00ff66;
font-weight:bold;

}
